@import "container";
@import "input";
@import "images";
@import "typography";

@font-face {
  font-family: "Formula1 Bold";
  src: url("../fonts/Formula1-Bold.ttf");
}
@font-face {
  font-family: "Formula1 Regular";
  src: url("../fonts/Formula1-Regular.ttf");
}
@font-face {
  font-family: "Formula1 Wide";
  src: url("../fonts/Formula1-Wide.ttf");
}
